.feature-line {
  display: flex;
  flex-direction: column;
  background-color: #54565a;
  width: 350px;
  height: 1px;
  margin: 30px;
}

.feature-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feature-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-card-list,
.feature-card-item {
  user-select: none;
  display: block;
  background: #fff;
}

.feature-card-image {
  width: 100%;
}

.feature-detail,
.feature-title {
  padding: 18px 0px 0px 18px;
}

/* .swiper {
  width: 400px;
} */

/*
.box-layout-feature {
  display: flex;
  justify-content: center;
}

.feature-box {
  background-color: white;
  margin: 10px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-prev,
.feature-next {
  display: flex;
  border: none;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -300px;
  margin-left: 10px;
  color: white;
  background-color: #8dc7ba;
  color: black;
}

.feature-next {
  right: 0;
  margin-right: 10px;
}

@media only screen and (max-width: 1170px) {
} */
