.feature-line {
  display: flex;
  flex-direction: column;
  background-color: #54565a;
  width: 350px;
  height: 1px;
  margin: 30px;
}

.feature-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feature-card-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  padding: 20px 10px !important;
  overflow: hidden;
  z-index: 0;
}

.feature-card-item {
  display: block;
  background: #fff;
  user-select: none;
  padding-bottom: 30px;
}

.feature-card-list,
.feature-card-image {
  width: 100%;
}

.feature-card-list,
.feature-card-item:hover {
  cursor: grabbing;
}

.feature-detail,
.feature-title {
  padding: 10px 30px 0px 30px;
  color: #54565a;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Title";
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #8dc7ba;
  padding: 20px;
  --swiper-navigation-size: 20px;
  margin: -10px;
}

.swiper {
  z-index: 0 !important;
}
@media only screen and (max-width: 991.98px) {
  .feature-line {
    display: none;
  }

  .feature-card-wrapper {
    margin: 0;
  }
}
