.boxag {
  margin: 20px;
  height: 350px;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #54565a;
}

.boxag-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxag-item {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #8dc7ba;
  font-weight: bold;
  font-size: 18px;
}

.imgag {
  height: 90px;
  width: 90px;
}
