.boxag-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.boxag-wrapper {
  padding: 20px 40px !important;
  border: 1px solid #54565a;
}

.boxag-list {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boxag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
}

.imgag {
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.imgag:hover {
  transform: scale(1.2);
}
