@font-face {
  font-family: "Source Sans Pro";
  src: url("/source-sans-pro_5.0.8/ttf/source-sans-pro-cyrillic-400-normal.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  /* font-size: 1.8rem; */
  line-height: 1.4;
  overflow-x: auto;
  color: #000;
  height: 100%;
  background: #fff;
}

header {
  font-family: SourceSansPro;
  display: flex;
  flex-direction: row;
  height: 100px;
  z-index: 10;
  position: fixed;
  width: 100%;
  border-width: 0 0 1px 0;
  background-color: #fff;
  background-image: url(../images/bg-navheader.png);
  background-position: 80% 50%;
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-right: 1;
  justify-content: space-between;
  box-shadow: 0 0 5px #0002;
}

.logo {
  height: 150px;
  min-width: 150px;
  background: #8dc7ba;
  position: relative;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 130px;
  height: auto;
  margin-left: 20px;
}

.menu-list {
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
}
nav ul li {
  padding: 0 5px;
  margin: 0 10px;
}

.tools {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 1002;
}

.shop,
.reserve {
  height: 100%;
  width: 200px;
  position: relative;
  background-color: #8dc7ba;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff !important;
  cursor: pointer;
  text-align: center;
  padding: 0 5px;
  margin-right: 0;
  z-index: 3;
  /* text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
}

.reserve {
  background-color: #066aab;
}

section {
  padding: 80px 0px;
}

.main {
  background: #c99999;
}

.feature {
  background-color: #ebede8;
}
