@font-face {
  font-family: "Source Sans Pro";
  src: url("/source-sans-pro_5.0.8/ttf/source-sans-pro-cyrillic-400-normal.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  /* font-size: 1.8rem; */
  line-height: 1.4;
  overflow-x: auto;
  color: #000;
  height: 100%;
  background: #fff;
}

header {
  display: flex;
  font-family: "Source Sans Pro";
  height: 80px;
  z-index: 10;
  position: fixed;
  width: 100%;
  border-width: 0 0 1px 0;
  background-color: #fff;
  background-position: 80% 50%;
  padding-right: 0px;
  justify-content: space-around;
  box-shadow: 0 0 5px #0002;
}

.logo {
  margin-left: 45px;
  height: 120px;
  min-width: 120px;
  background: #8dc7ba;
  position: relative;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 110px;
  height: auto;
  margin-left: 20px;
}

.tools {
  width: auto;
  display: flex;
  position: relative;
  z-index: 1002;
  margin-left: auto;
}

.shop,
.reserve {
  height: 100%;
  width: 160px;
  position: relative;
  background-color: #8dc7ba;
  font-family: "Source Sans Pro";
  color: #fff !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  margin-right: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reserve {
  background-color: #066aab;
}

section {
  padding: 80px 0px;
}

.main {
  background: #c99999;
}

.feature {
}
