@import "/css/offers.css";
@import "/css/glimpse.css";
@import "/css/reviews.css";
@import "/css/room.css";

.main {
  /* background: #c99999; */
  padding-left: 25%;
  padding-right: 25%;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-image: url("https://www.thavornbeachvillage.com/html/images/bg-welcome.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
