@import "/css/offers.css";
@import "/css/glimpse.css";
@import "/css/reviews.css";
@import "/css/room.css";
@import "/css/features.css";
@import "/css/Things.css";

.main {
  padding-left: 25%;
  padding-right: 25%;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-image: url("https://www.thavornbeachvillage.com/html/images/bg-welcome.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
#more {
  display: none;
  transition: all 0.5s ease-in-out;
}

h1 {
  display: flex;
  justify-content: center;
  color: #8dc7ba;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #54565a;
}
