nav {
  background-color: #ffffff;
  padding-left: 50px;
  margin-right: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  background-color: #8dc7ba;
  height: 150px;
  min-width: 120px;
  background: #8dc7ba;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1002;
}

.logo img {
  margin-top: 30px;
  width: 100%;
  max-width: 110px;
  height: auto;
  margin-left: 15px;
}

.menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li {
  padding-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

.menu li:hover {
  color: #8dc7ba;
  transition: all 0.2s ease-in-out;
}

.tools {
  display: flex;
  height: 100%;
}

.shop,
.reserve {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Source Sans Pro";
  font-weight: 500;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  margin-right: 0;
  text-transform: uppercase;
}

.shop {
  width: 180px;
  background-color: #8dc7ba;
}

.reserve {
  background-color: #638981;
  width: 160px;
}

.shop:hover {
  background-color: #77a99e;
}

.reserve:hover {
  background-color: #496761;
}

.shop-responsive {
  display: none;
}

.responsive-menu {
  display: none;
}

.menu-active {
  display: block;
}

.sideNav {
  display: none;
}

@media only screen and (max-width: 1420px) {
  .menu li {
    padding-left: 15px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
  }

  .shop {
    width: 160px;
    background-color: #8dc7ba;
    transition: all 0.3s ease-in-out;
  }

  .reserve {
    background-color: #638981;
    width: 140px;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 1170px) {
  /*Hamburger Menu*/
  .responsive-menu {
    display: inline-block;
    cursor: pointer;
    background: #000;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .menu {
    display: none;
  }
  .shop {
    display: none;
  }

  .shop-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-color: #8dc7ba;
    cursor: pointer;
  }

  .reserve {
    background-color: #638981;
    width: 110px;
    font-size: small;
  }

  nav {
    padding-left: 0px;
  }

  .logo {
    height: 100%;
    min-width: 60px;
  }

  .logo img {
    width: 100%;
    height: 100%;
    max-width: 70px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
