.boxrv {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.imgrv {
  height: 500px;
  width: 740px;
}

.imgrv2 {
  height: 140px;
  width: 300px;
}

.reviewbox {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 7px 0 #0002;
  padding: 40px 40px;
  color: #54565a;
  height: 310px;
  width: 500px;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 450px) {
  .boxrv {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .imgrv {
    height: 250px;
    width: 350px;
  }

  .imgrv2 {
    height: 110px;
    width: 200px;
  }

  .reviewbox {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px 0 #0002;
    padding: 40px 40px;
    color: #54565a;
    height: 310px;
    width: auto;
    text-align: center;
    font-size: 18px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .boxrv {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .imgrv {
    height: 300px;
    width: auto;
  }

  .imgrv2 {
    height: 110px;
    width: 200px;
  }
  .reviewbox {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px 0 #0002;
    padding: 40px 40px;
    color: #54565a;
    height: 310px;
    width: auto;
    text-align: center;
    font-size: 18px;
  }
}

@media only screen and (min-width: 961px) {
  .boxrv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
