.boxw-container1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.boxw-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.linew {
  background-color: #ffffff;
  width: 300px;
  height: 1px;
  margin: 50px;
}

.boxw-item1 {
  width: 300px;
  height: 180px;
}

.textw1 {
  color: #b6dbd3;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 5px;
}

.textw2 {
  color: #ffffff;
  font-size: 18px;
}

.textw2:hover {
  color: #b6dbd3;
  cursor: pointer;
}

.contact {
  color: #ffffff;
  font-size: 18px;
}

.contact:hover {
  cursor: pointer;
}

.imgw {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 450px) {
  .boxw-container2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .imgw {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .boxw-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .boxw-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
  }

  .imgw {
    width: 100px;
    height: 100px;
  }

  .linew {
    background-color: #ffffff;
    width: 500px;
    height: 2px;
    margin: 50px;
  }
}

@media only screen and (min-width: 961px) {
  .boxw-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
  }

  .boxw-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
  }

  .imgw {
    width: 200px;
    height: 200px;
  }
  .linew {
    background-color: #ffffff;
    width: 1370px;
    height: 2px;
    margin: 50px;
  }
}
